/*=============RESET=======================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-color: #f0f0f0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-size: 16px;
}
.link {
	text-decoration: none;
}
/*======================================================*/

@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,700,900');

.header-container {
  background-color: #4257b2;
  height: 4rem;
  width: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-icon-container {
	display: flex;
	align-items: center;
}
.header-icon {
	fill: white;
	height: 1.3rem;
	margin-left: 24px;
	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.header-icon:hover {
	fill: #9da9db;
}
#list {
	height: 1rem;
}
.header {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}
.dark-header {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #455358;
  padding-bottom: 1rem;
}
.create-set-header {
	margin: 1rem;
	background-color: white;
}
.create-input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #455358;
	font-family: "Catamaran", sans-serif;
	font-weight: 200;
	font-size: 1.3rem;
}
.create-input::placeholder {
	color: #d2d6d8;
	letter-spacing: .7px;
}
.create-input:focus {
	outline: none;
	border-bottom: 4px solid #efcb47;
}
.create-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	color: #455358;
	letter-spacing: .7px;
	position: sticky;
	top: 0;
	padding: 1rem;
	background-color: white;
}
.create-svg {
	height: 1.5rem;
	fill: white;
}
.create-title-input-container {
	padding: 2rem 1rem 1rem 1rem;
	background-color: white;
}

.create-title-label {
	font-family: "Catamaran", sans-serif;
	color: #959da0;
	margin-top: .7rem;
	letter-spacing: .1rem;
	font-size: .8rem;
}
.dark-label {
	font-family: "Catamaran", sans-serif;
	color: #455358;
	margin-top: .7rem;
	letter-spacing: .1rem;
	font-size: .8rem;
}
.options-container {
	background-color: #3ccfcf;
	border-radius: 50%;
	height: 2.3rem;
	width: 2.3rem;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.options-container:hover {
	background-color: #efcb47;
}
.options-container:hover #create-options-svg {
	fill: #455358;
}

.create-terms-container, .activity-sets-container, .set-card-container {
	background-color: #f0f0f0;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*align-items: center;*/
}
.blank-card {
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
	width: 100%;
}
.blank-card-input-container {
	display: flex;
	flex-direction: column;
}
.blank-card-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.blank-card-number {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	color: #959da0;
	font-size: 1.5rem;
}
.blank-footer-icons-container {
	display: flex;
	width: 33%;
	justify-content: space-between;
	align-items: center;
}
.blank-card-svg {
	fill: #455358;
	width: 15px;
}
.blank-card-svg:hover {
	fill: #efcb47;
}
.flip-terms-button {
	background-color: white;
	border: 2px solid #d2d6d8;
	padding: 15px;
	font-family: "Catamaran", sans-serif;
	color: #d2d6d8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 225px;
	height: 50px;
}
.flip-button-svg {
	fill: #d2d6d8;
	height: 15px;
}

.add-card {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	height: 9rem;
	width: 100%;
}
h5 {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	color: #455358;
	letter-spacing: .1rem;
	border-bottom: 5px solid #3ccfcf;
	padding-bottom: .5rem;
}
h5:hover {
	color: #efcb47;
	border-bottom: 5px solid #efcb47;
}
.create-set-button {
	background-color: #3ccfcf;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: .1rem;
	border: none;
	padding: 1.1rem;
	width: 100%;
	margin-top: 2rem;
	/*align-self: center;*/
}
.create-set-button:hover {
	background-color: #efcb47;
}

.overlay {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1rem;
}

.close-btn {
	font-size: 3rem;
	color: white;
}
.overlay-save-btn {
	border: none;
	color: white;
	background-color: #d2d6d8;
	font-family: "Catamaran", sans-serif;
	font-size: 1.3rem;
	padding: 1rem;
	margin-top: 1rem;
}


.menu-fixed-item {
	font-family: "Catamaran", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #455358;
	display: flex;
	justify-content: left;
	align-items: baseline;
	padding: 1rem 1.3rem 1rem 1.3rem;
}
.menu-fixed-item svg, .menu-classes-container svg, .menu-folders-container svg {
	fill: #3ccfcf;
	height: 1rem;
	padding-right: 1rem;
}
.menu-fixed-item:hover {
	background-color: #efcb47;
}
.menu-fixed-item:hover svg {
	fill: #455358;
}
.menu-fixed-container, .menu-classes-container, .menu-folders-container{
	border-bottom: 1px solid #e8ebed;
	padding: 1rem 0 2rem 0;
}
.menu-classes-container, .menu-folders-container {
	padding: 1rem 1rem 2rem 1rem;
}
.menu-create-p {
	color: #3ccfcf;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	display: flex;
	align-items: baseline;
	padding-top: 1rem;
}
.menu-footer-container {
	padding: 1rem;
}
.menu-logout {
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: .8rem;
	color: #FF8B79;
}
.menu-logout:hover {
	color: #efcb47;
}

.activity-main-container {
	padding: 2rem 1rem 1rem 1rem;
	background-color: white;
}
.activity-recent-set {
	background-color: white;
	padding: 0 1rem .5rem 1rem;
	margin-top: 1rem;
	width: 100%;
}
.activity-recent-set:hover {
	border-bottom: 5px solid #efcb47;
}
.activity-recent-set-title {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	color: #455358;
}
.activity-user-header {
	display: flex;
	justify-content: left;
	align-items: baseline;
}
.activity-set-user-p {
	margin: 0 1rem 1rem 1rem;
	color: #3ccfcf;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	border-left: 2px solid #e8ebed;
	padding-left: 1rem;
}
.set-user-header {
	padding: 0 1rem 0 1rem;
	display: flex;
	justify-content: left;
	align-items: baseline;
	background-color: white;
}
.set-user-p {
	color: #3ccfcf;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	padding: .5rem 1rem .5rem 1rem;
	margin: 1.3rem 1rem 1rem 1rem;
	border-left: 2px solid #e8ebed;
}
.set-user-p:hover {
	color: #efcb47;
}
.set-title-header {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	color: #455358;
	font-size: 2.7rem;
	padding: 0 1rem 1rem 1rem;
	background-color: white;
}
.set-description-header {
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: #455358;
	padding: 0 1rem 0 1rem;
	background-color: white;
}
.circle-icons-container {
	display: flex;
	padding: 1rem;
	background-color: white;
}
.circle-icon {
	background-color: #3ccfcf;
	border-radius: 50%;
	height: 2.3rem;
	width: 2.3rem;
	margin-right: .8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.circle-icon:hover {
	background-color:  #efcb47;
}
.circle-icon:hover svg {
	fill: #455358;
}
.circle-icon-popup {
	visibility: hidden;
	background-color: #4257B2;
	position: absolute;
	top: 3.2rem;
	padding: .5rem;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: .9rem;
	margin-right: -7rem;
	/*margin-left: 3.5rem;*/
}
.long:after {
	position:absolute;
	right: 4.5rem;
}
.circle-icon-popup:after {
	content: '';
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.circle-icon-popup.top:after {
	top: -20px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #4257B2;
}
.circle-icon:hover .circle-icon-popup {
	visibility: visible;
}
.set-circle-svg {
	fill: white;
	width: 1rem;
}
.set-study-options-container {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	background-color: white;
}
.set-study-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 7.35rem;
	margin: 1rem .3rem;
	padding: 1.3rem .8rem 1.3rem .75rem;
	border-bottom: 5px solid #3ccfcf;
	box-shadow: 0 4px 8px 0 rgba(69,83,88, 0.2), 0 6px 20px 0 rgba(69,83,88, 0.19);
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	font-size: .7rem;
	color: #3ccfcf;
	letter-spacing: .1rem;
}
.set-study-option:hover {
	color: #efcb47;
	border-bottom: 5px solid #efcb47;
}
.study-option-svg {
	fill: #4257B2;
	height: 2.3rem;
	margin-bottom: 1rem;
}
.set-card {
	background-color: white;
	padding: 1rem;
	margin-bottom: .7rem;
	width: 100%;
}
.card-term, .card-def {
	font-family: "Catamaran", sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: .1rem;
	padding: 1rem 0 1rem 0;
}
.card-def {
	color: #455358;
}
.card-icon-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.card-svg {
	fill: #455358;
	height: 1.2rem;
	padding-left: 1rem;
}
.card-svg:hover {
	fill: #efcb47;
}
.card-image {
	max-height: 250px;
}
.settings-main-container {
	background-color: #f0f0f0;
	padding: 4rem 1rem 1rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.settings-username-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	margin: 1rem 0 1rem 0;
	display: flex;
	justify-content: center;
}
.settings-save-button {
	background-color: #3ccfcf;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: .1rem;
	border: none;
	padding: .5rem;
	width: 25%;
	margin-top: 2rem;
}
.settings-section-header {
	display: flex;
	align-items:center;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: #455358;
	padding: 0 1rem 0 1rem;
}
.settings-header {
	padding-left: 1rem;
}
.settings-header-svg {
	fill: #455358;
	height: 1.5rem;
}
.landing-sign-button {
	background-color: #3ccfcf;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: .8rem;
	letter-spacing: .1rem;
	border: none;
	padding: .7rem 1.2rem;
	margin-left: 1.5rem;
}
.landing-sign-button:hover {
	background-color: #efcb47;
	color: #455358;
}
.landing-header-container {
	display: flex;
	align-items:center;
}
.login-link {
	text-decoration: none;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: .9rem;
	color: white;
	margin-left: 1.5rem;
	letter-spacing: .05rem;
}
.login-link:hover {
	color: #9da9db;
}


.tablet-option-container {
	background-color: #3ccfcf;
	border-radius: 50%;
	height: 2.5rem;
	width: 2.5rem;
	display: none;
	justify-content: center;
	align-items: center; 
}
.create-tablet-options-container {
	display: none;
}
.create-button-small {
	display: none;
}

/*******************************************

MEDIA QUERIES

********************************************/

/* once we reach larger than 620px, apply these new styles*/
@media(min-width: 620px) {
	.activity-main-container {
		padding: 2.7rem;
	}
	.dark-header {
		font-size: 2.8rem;
	}
	.activity-sets-container {
		padding: 2.7rem;
	}
	.activity-recent-set {
		padding: 1rem;
	}
	.create-title-container {
		padding: 2.7rem 2.7rem 1rem 2.7rem;
		font-size: 2.3rem;
		z-index: 100;
	}
	.create-title-input-container {
		padding: 2rem 2.7rem 2.7rem 2.7rem;
	}
	.options-container {
		width: 0;
	}
	.blank-card-input-container {
		flex-direction: row;
		justify-content: space-between;
	}
	#more-tablet {
		width: 0;
	}
	.create-term-and-label {
		padding-left: 1rem;
		padding-right: 1rem;
		width: 50%;
		position: relative;
	}
	.create-terms-container {
		padding: .5rem 2.7rem 2.7rem 2.7rem;
	}
	.flip-terms-button {
		display: none;
	}
	.create-button-small {
		background-color: #3ccfcf;
		display: block;
		color: white;
		font-family: "Catamaran", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: .1rem;
		border: none;
		padding: .7rem 1.7rem .7rem 1.7rem;
	}
	.create-button-small:hover {
		background-color: #efcb47;
		color: #455358;
	}
	.blank-footer-icons-container {
		display: none;
	}
	.blank-card-footer {
		padding-left: 1rem;
	}
	#more-tablet {
		width: 20px;
	}
	#more-tablet:hover {
		fill: #efcb47;
	}
	.create-tablet-options-container {
		display: flex;
		margin-top: 1rem;
		width: 100%;
		justify-content: flex-end;
	}
	.tablet-option-container {
		display: flex;
		margin-left: 1.1rem;
	}
	.tablet-option-container:hover .set-circle-svg {
		fill: #455358;
	}
	.tablet-option-container:hover {
		background-color: #efcb47;
	}
	.set-title-header {
		font-size: 4.3rem;
		padding: 0 2.7rem 1rem 2.7rem; 
	}
	.set-study-option {
		width: 9rem;
		font-size: 1rem;
	}	
	.study-option-svg {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		height: 3rem;
	}
	.set-user-header {
		padding-left: 2.7rem;
	}
	.set-description-header {
		padding: 0 2.7rem 0 2.7rem;
	}
	.circle-icons-container {
		padding: 1rem 2.7rem 1rem 2.7rem;
	}
	.set-study-options-container {
		padding: 1rem 2.7rem 1rem 2.7rem;
	}
	.set-card-container {
		padding: 2.7rem;
	}
	.set-card {
		display: flex;
		flex-direction: row-reverse;
		padding: 1.2rem;
	}
	.set-card-term-and-def {
		display: flex;
		width: 100%;
		padding-left: 1rem;
	}
	.card-def {
		padding: 1rem 2rem 1rem 2rem;
		border-left: 2px solid #f0f0f0;
	}
	.card-term {
		width: 7.5rem;
	}
	.card-icon-header {
		align-items: flex-start;
	}
	.card-svg {
		height: 1.5rem;
	}
}

/* once we reach larger than 720px, apply these new styles*/
@media(min-width: 720px) {}