/*=============RESET=======================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-size: 16px;
}

/*======================================================*/

@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,700,900');

.header-container {
  background-color: #4257b2;
  height: 4rem;
  width: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-icon-container {
	display: flex;
	align-items: center;
}
.header-icon {
	fill: white;
	height: 1.3rem;
	margin-left: 24px;
	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.header-icon:hover {
	fill: #9da9db;
}
#list {
	height: 1rem;
}
.header {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}
.create-set-header {
	margin: 1rem;
	background-color: white;
}
.create-input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #455358;
	font-family: "Catamaran", sans-serif;
	font-weight: 200;
	font-size: 1.3rem;
}
.create-input::placeholder {
	color: #d2d6d8;
	letter-spacing: .7px;
}
.create-input:focus {
	outline: none;
	border-bottom: 4px solid #efcb47;
}
.create-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	color: #455358;
	letter-spacing: .7px;
}
.create-svg {
	height: 1.5rem;
	fill: white;
}
.create-title-input-container {
	padding-top: 4rem;
}

.create-title-label {
	font-family: "Catamaran", sans-serif;
	color: #959da0;
	margin-top: .7rem;
	letter-spacing: .1rem;
	font-size: .8rem;
}
.options-container {
	background-color: #3ccfcf;
	border-radius: 50%;
	height: 2.3rem;
	width: 2.3rem;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.create-terms-container {
	background-color: #f0f0f0;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.blank-card {
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
}
.blank-card-input-container {
	display: flex;
	flex-direction: column;
}
.blank-card-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
h3 {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	color: #959da0;
	font-size: 1.5rem;
}
.blank-footer-icons-container {
	display: flex;
	width: 33%;
	justify-content: space-between;
	align-items: center;
}
.blank-card-svg {
	fill: #455358;
	width: 15px;
}
.blank-card-svg:hover {
	fill: #efcb47;
}
.flip-terms-button {
	background-color: white;
	border: 2px solid #d2d6d8;
	padding: 15px;
	font-family: "Catamaran", sans-serif;
	color: #d2d6d8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 225px;
	height: 50px;
}
.flip-button-svg {
	fill: #d2d6d8;
	height: 15px;
}

.add-card {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	height: 9rem;
}
h5 {
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	color: #455358;
	letter-spacing: .1rem;
	border-bottom: 5px solid #3ccfcf;
	padding-bottom: .5rem;
}
h5:hover {
	color: #efcb47;
	border-bottom: 5px solid #efcb47;
}
.create-set-button {
	background-color: #3ccfcf;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: .1rem;
	border: none;
	padding: 1.3rem;
	width: 45%;
	margin-top: 2rem;
	align-self: center;
}